@charset "utf-8";

.wrapper{
    position: relative;
    min-width: 1440px;
}

.topBanner{
    position: relative;
    height: 40px;
    background-color: #002053;
}
.topBanner .topTitle a{
    display: block;
    width: 600px;  
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.topBanner .topBtn{
    position : absolute;
    top: 4px;
    right: 40px;
}
.topBanner .topBtn button{
    width: 32px;
    height: 32px;
    text-indent: -99999px;
    background-image: url(../img/btn_x_wh_32x32.png);
    background-color:transparent;
}
/*  */

.header{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    z-index: 500px;
}

.gnb{
    display: flex;
}
.gnb ul{
    display: flex;
    gap: 32px;
}
.gnb ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.gnb .g1::after{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    margin-top: 7px;
    margin-right: 32px;
    background-color: #fff;
}
.header .logo a{
    display: block;
    width: 100px;
    height: 32px;
    text-indent: -99999px;
    background-image: url(../img/logo_wh.png);
}
.header .icon ul{
    display: flex;
}
.header .icon .location {
    background-image: url(../img/ico-store-wh-56x56.png)
}
.header .icon .search {
    background-image: url(../img/ico-search-wh-56x56.png);
}
.header .icon .login {
    background-image: url(../img/ico-mypage-wh-56x56.png);
}
.header .icon .search {
    background-image: url(../img/ico-cart-wh-56x56.png);
}